<div class="page-title">
  <div class="title_left">
    <h3>Sản phẩm <small>Danh sách sản phẩm</small></h3>
  </div>

  <div class="title_right">
    <div class="col-md-4 col-sm-6 col-xs-12 form-group">
      <select class="form-control" name="filterCategoryID" [(ngModel)]="filterCategoryID">
         <option value="">--Chọn danh mục--</option>
         <option *ngFor="let x of productCategories" [value]="x.ID">{{x.Name}}</option>
      </select>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 form-group ">
      <input type="text" name="filter" [(ngModel)]="filterKeyword" class="form-control" placeholder="Tìm kiếm...">
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 form-group">
      <button class="btn btn-primary" type="button" (click)="search()">Tìm</button>
      <button class="btn btn-default" type="button" (click)="reset()">Reset</button>
      <button class="btn btn-danger" type="button" (click)="deleteMulti()">Xóa</button>

    </div>

  </div>
</div>

<div class="clearfix"></div>

<div class="row">

  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_content">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAdd()">Thêm mới</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <table *ngIf="products && products.length > 0" class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Mã sản phẩm</th>
            <td>Ngày tạo</td>
            <td>Người tạo</td>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <td>
              <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="item.Checked" [name]="item.ID" [ngModelOptions]="{standalone: true}">
                </label>
              </div>
            </td>
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>{{item.ProductCategory}}</td>
            <td>{{item.code}}</td>
            <td>{{item.CreatedDate | date}}</td>
            <td>{{item.CreatedBy}}</td>
            <td>
              <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quản lý ảnh" 
                (click)="showImageManage(item.ID)"> <i class="fa fa-file-image-o" aria-hidden="true"></i></button>

              <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quản lý số lượng" 
                (click)="showQuantityManage(item.ID)"><i class="fa fa-bandcamp" aria-hidden="true"></i></button>

              <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Cập nhật sản phẩm"
                (click)="showEdit(item.ID)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Xóa sản phẩm" 
                (click)="delete(item.ID)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
      <div *ngIf="products && products.length == 0" class="col-md-12">
        <div class="alert alert-info">
          <strong>Thông báo!</strong> Hiện tại chưa có sản phẩm nào trong hệ thống
        </div>

      </div>
      <div *ngIf="products && products.length > 0" class="col-md-12">
        <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow"
          [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>

</div>
